@model Company

<div class="card-body p-4">
    <div class="card-header bg-secondary bg-gradient ml-10 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-primary"> @(Model.Id != 0 ? "Update" : "Create") Company</h2>

            </div>
            <hr />

        </div>
    </div>
</div>
<div class="card-body p-4">
    <form method="post" class="row" enctype="multipart/form-data">
        <input asp-for="Id" hidden />
        <div class="row">
            <div class="col-12">
                <div class="border p-3">
                    @*<div asp-validation-summary="ModelOnly"></div>*@
                    <div class="mb-3 form-floating py-2">
                        <input asp-for="Name" type="text" class="form-control border-0 shadow" /> @* db *@
                        <label asp-for="Name" class="ms-2"></label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="mb-3  py-2">
                        @* <label>Display Order</label>*@
                        <label asp-for="StreetAddress" class="ms-2 text-muted"></label>
                        <textarea asp-for="StreetAddress" class="form-control border-0 shadow p-3" rows="5" placeholder="Enter Your Product Description"></textarea>

                    </div>
                    <div class="mb-3 form-floating py-2">
                        @* <label>Display Order</label>*@
                        <input asp-for="City" class="form-control border-0 shadow" />
                        <label asp-for="City"></label>
                        <span asp-validation-for="City" class="text-danger"></span>

                    </div>
                    <div class="mb-3 form-floating py-2">
                        @* <label>Display Order</label>*@
                        <input asp-for="State" class="form-control border-0 shadow" />
                        <label asp-for="State"></label>
                        <span asp-validation-for="State" class="text-danger"></span>

                    </div>
                    <div class="mb-3 form-floating py-2">
                        @* <label>Display Order</label>*@
                        <input asp-for="PostalCode" class="form-control border-0 shadow" />
                        <label asp-for="PostalCode"></label>
                        <span asp-validation-for="PostalCode" class="text-danger"></span>

                    </div>
                    <div class="mb-3 form-floating py-2">
                        @* <label>Display Order</label>*@
                        <input asp-for="PhoneNumber" class="form-control border-0 shadow" />
                        <label asp-for="PhoneNumber"></label>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                    </div>
                   
                    <div class="row">
                        <div class="col-6 col-md-3">
                            @if (Model.Id != 0)
                            {
                                <button type="submit" class="btn btn-primary col-sm-6 col-md-4" style="width:200px;height:55px;">Update</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary col-sm-6 col-md-4" style="width:200px;height:55px;">Create</button>
                            }
                        </div>
                        <div class="col-6 col-md-3">
                            <a asp-controller="Company" asp-action="index" class="btn btn-secondary col-sm-6 col-md-4" style="width:200px;height:55px; background-color: #6c757d; color: white;">
                                Back to  list
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            
        </div>
    </form>

</div>

@*   Client Side Validation *@
@* @section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    } *@
@*     <script>
        tinymce.init({
          selector: 'textarea',
          plugins: [
            // Core editing features
            'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
            // Your account includes a free trial of TinyMCE premium features
            // Try the most popular premium features until Oct 29, 2025:
            'checklist', 'mediaembed', 'casechange', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'advtemplate', 'ai', 'uploadcare', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown','importword', 'exportword', 'exportpdf'
          ],
          toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography uploadcare | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
          promotion: false,
          branding: false,
          tinycomments_mode: 'embedded',
          tinycomments_author: 'Author name',
          mergetags_list: [
            { value: 'First.Name', title: 'First Name' },
            { value: 'Email', title: 'Email' },
          ],
          ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
          uploadcare_public_key: '5bfdac0c31e0e0e3c424',
        });
    </script>
 *@   
